.login-container {
    display: grid;
    /* grid-template-columns: 6fr 6fr;
    height: 100vh; */
}

/* .login-illustration {
    width: 80%;
    height: 120vh;
} */

.bottom-line {
    width: 100%;
    border-bottom: 1px solid rgba(97, 97, 97, 0.526);
}

.form-container {
    width: 80%;
    margin: 100px auto;
}


.login-text {
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
}

.email-password-text {
    margin-bottom: 5px;
    margin-top: 20px;
}

.input-style {
    border: none;
    width: 100%;
    padding: 5px;
    outline: none;
}

.flex {
    display: flex;
    align-items: center;
}

/* .flex img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
} */

.forgot-password {
    text-align: right;
    margin: 15px;
    color: #208af3;
}

.forgot-password:hover {
    color: #001aff;
}

.login-button {
    width: 100%;
    border: none;
    font-size: 17px;
    font-weight: 600;
    padding: 9px;
    border-radius: 20px;
    background-color: #0091ff;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #005effd7;
    transition: all .3s;
}

.or-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 70px;
    border-bottom: 1px solid rgba(97, 97, 97, 0.526);
}

@media only screen and (max-width: 992px) {
    .login-image-container {
        display: none;
    }

    .form-container {
        margin: 30px auto;
        height: 100vh;
    }
}

@media only screen and (min-width: 992px) {
    .login-container {
        grid-template-columns: 6fr 6fr;
        height: 100vh;
    }
}

@media only screen and (max-width: 688px) {
    .forget-container {
        flex-direction: column;
    }

    .register {
        margin-top: 10px;
    }
}