.add-btn-style {
    border: 1px solid #0091ff;
    height: 35px;
    width: 85px;
    border-radius: 5px;
    margin-left: 50px;
    font-size: 14px;
    font-weight: 600;
}

.add-btn-style:hover {
    background-color: #0091ff;
    color: white;
    transition: .3s;
}

.table-head {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 100px 120px 130px;
}